<div class="container">
    <div class="row">
        <div class="co-main col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card-header" routerLink="/login">
                <a class="card-header"><i class="fa fa-lock"></i> Login</a>
            </div>
            <form class="form-signin" #f="ngForm" (ngSubmit)="f.valid && submit()">
                <div class="card card-signin my-5">
                    <h2 class="card-title text-center">Sign Up</h2>
                    <div class="mountain-container row">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                            x="0px" y="0px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
                            <circle class="circle" cx="25" cy="25" r="25" />
                            <polygon class="mountains" points="34.1,25 27.7,13.9 21.3,25 19.2,28.7 16.5,24 13,30 9.5,36.1 14.9,36.1 16.5,36.1 23.5,36.1 27.7,36.1 40.5,36.1" />
                        </svg>
                    </div>
                    <div class="card-body">

                        <div class="form-label-group row">
                            <div class="col-sm-6">
                                <input type="text" id="inputFnamex" name="inputFnamez" #inputFname="ngModel" class="form-control" [(ngModel)]="fName" placeholder="first name" required minlength="2"
                                 autofocus>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" id="inputLnamex" name="inputLnamez" #inputLname="ngModel" class="form-control" [(ngModel)]="lName" placeholder="last name" required minlength="2"
                                autofocus>
                            </div>
                        </div>
                        <div class="form-label-group row">
                            <div class="col-sm-12">
                                <input type="email" id="inputEmailx" name="inputEmailz" #inputEmail="ngModel" class="form-control" [(ngModel)]="email" placeholder="email address" email required minlength="4">
                            </div>
                        </div>
                        <div class="form-label-group row">
                            <div class="col-sm-12">
                                <input type="password" id="inputPasswordx" name="inputPasswordz" #inputPassword="ngModel" [(ngModel)]="password" class="form-control" placeholder="password" minlength="4"
                                    required>
                            </div>
                        </div>

                        <div class="form-label-group row create-acc">
                            <div class="col-sm-12">
                                <button class="button">Create Account</button>
                            </div>

                        </div>
                        <div class="form-label-group row already-mem">
                            <div class="col-sm-12">
                                <a class="already-mem" routerLink="/login">Already a member?</a>
                            </div>
                        </div>
                    </div>
                    <div class="errors form-group">
                        <div *ngIf="inputEmail.invalid && (inputEmail.dirty || inputEmail.touched)"
                            class="alert alert-danger">
                          <div *ngIf="inputEmail.errors.required">Email is required.</div>
                          <div *ngIf="inputEmail.errors.minlength">Email must be at least 4 characters long.</div>
                          <div *ngIf="inputEmail.errors.email">Email must be valid type.</div>
                        </div>
                        <div *ngIf="inputPassword.invalid && (inputPassword.dirty || inputPassword.touched)"
                            class="alert alert-danger">
                          <div *ngIf="inputPassword.errors.required">Password is required.</div>
                          <div *ngIf="inputPassword.errors.minlength">Password must be at least 4 characters long.</div>
                        </div>
                        <div *ngIf="inputFname.invalid && (inputFname.dirty || inputFname.touched)"
                            class="alert alert-danger">
                          <div *ngIf="inputFname.errors.required">First Name is required.</div>
                          <div *ngIf="inputFname.errors.minlength">First Name must be at least 2 characters long.</div>
                        </div>
                        <div *ngIf="inputLname.invalid && (inputLname.dirty || inputLname.touched)"
                            class="alert alert-danger">
                          <div *ngIf="inputLname.errors.required">Last Name is required.</div>
                          <div *ngIf="inputLname.errors.minlength">Last Name must be at least 2 characters long.</div>
                        </div>
                        <div *ngIf="errorMsg"class="alert alert-danger">
                          <div>{{errorMsg}}</div>
                        </div>
                        <div *ngIf="successMsg"class="alert alert-success">
                            <div>{{successMsg}}</div>
                          </div>
                      </div>
                </div>
                <div class="cardfooter">
                    <button class="signup" [disabled]="f.pristine || f.invalid"><i class="fa fa-user-plus"></i> Signup</button>
                </div>
            </form>
        </div>
    </div>
</div>